/* Paddings */
.pa-1 {
    padding: .5em;
}

.pa-2 {
    padding: 1em;
}

.pa-3 {
    padding: 1.5em;
}

/* Margins */
.mb-1 {
    margin-bottom: 1em;
}

/* Text */
.text-green {
    color: #1b5e20;
}

.text-amber {
    color: #ff8f00;
}

.text-grey {
    color: #9e9e9e;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-truncate {
    width: 98%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Backgrounds */
.bg-white {
    background: #ffffff;
}

.bg-amber {
    background-color: #ff8f00;
    border: 1px solid #ff6f00;
    color: #000000;
}

/* Forms */
form {
    width: 500px;
    margin: 0 auto;
}

form h3 {
    margin: 0;
    margin-bottom: .5em;
    padding: .25em;
    text-transform: capitalize;
    font-variant: small-caps;
    background-color: #59b45d;
    color: #ffffff;
}

.form-group {
    margin-bottom: 1em;
}

.form-row {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

label {
    display: block;
    font-weight: bold;
    color: #388e3c;
    margin-bottom: .2em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #c5bfbf;
    box-sizing: border-box;
    padding: .5em .25em;
    width: 100%;
}

.form-inline {
    display: inline-block;
    width: auto;
    margin: 0;
}

.form-inline label {
    display: inline-block;
}

/* Buttons */
.btn {
    padding: .5em 1em;
    border-radius: 2px;
}
.btn:hover {
    cursor: pointer;
}

/* Core styles */
:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(floor-tile.png);
}

header {
    display: flex;
    padding: 0 .5em;
    background-color: #1b5e20;
    color: #ff8f00;
    margin-bottom: 1em;
}

header h1 {
    margin: 0;
    padding: .2em 0;
    font-size: 2em;
    text-transform: uppercase;
}

header h1 > a {
    color: #ff8f00;
}

#main-navigation {
    margin-left: auto;
    display: flex;
    list-style-type: none;
}

#main-navigation li {
    margin-left: .5em;
}

p {
    margin: 0;
    padding: .2em 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 .5em;
}

.properties {
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.property {
    padding: .5em;
    overflow: hidden;
    background-color: white;
}

.property img {
    width: 100%;
    height: 150px;
}

.material-icons {
    position: relative;
    top: 7px;
}

#upload-property {
    vertical-align: top;
    display: inline-block;
}